<pre data-ascii-logo aria-label="W.A.Y. ASCII logo">                                                +==+
                                               =====+
                                              +======+
                                             +=======+
                                            +==========+
                                           +============+
                                           ======+=======
                                          =======++======+
                                        +=======+  +======+
                                        =======+    +======+
                                       =======       +======+
                                      =======+        +======+
                                     ========          +====+++
                                    ========            +==++=++
      =------------====            =======+     ===+     ++=====+            ++++++++++++++++
       -----------========        ========     =====+     ======++        +++++++++++++++++++
        ------------========     ========     +======+     +=++++++     ++++++++++++++++++++*
        --------===-=========   ========     +========+     ++++===+   ++++++++++++*++++++++
         =-------     ======== +=======     +==========+     +=====+  ++++++++     +++++++*
          =------=     ======== ======     +===========++     +=++++++ ++++++     +++++++*
           =------=     ======== ====      ==============     ++++++==+ ++++     ++++++++
            =-----==     ======== ==      =======++======+      +==++++ +++     ++++++++
             =------=     ========       =======+  +======+      +++++++       +++++++*
              =-----==     ========     =======+    +=======     ++++++++     +++++++*
               =------=     =======    =======       +======+     ++++++++   ++++++++
                ----====     =======  ========        =======+     +=++++++ ++++++++
                 =-======    ======= ========          +======+     +++++++++++++++
                  =======     +==== =======+            +======+     +++++ +++++++
                  ========      == ========     +==      +====+++     ++  +++++++
                   =-======       ========     =====+     +++++==+       +++++++*
                    ========     ========      ======      +======+     +++++++*
                  == ========   +=======      +======+      ====+++    +=+++++  ++
                 =--= ======== +=======      =========+      +===+    ++++++++ +++*
                ===--= ===============      ============      +=+    ++++++++ +++++*
               ======-= =============      =============+      +    +==++++* ++++++++
               ---====   ===========      ========+======+         ++=+++++   +++++++
             =------=     =========      ========  +======+       ++++++++     +++++++
            =-------=   ===========     =======+    +=======     +++++++++++   *+++++++
           =-----==================    +======+      +======+    ==+++++++++++++++++++++
           ------===================  +=======        +=====++ ++=====+=+++++++++++++++++
          =---------========  =======+=======          ++=====+++++==+  +++++++++++++++++*
           ===========+       ==============            +=======+++++         *+++++****
                                ===========              =======++++
                                 =========                =======+++
                                 ========                 +++=====+
                                  ======                   +++===+
                                   +===                      +++</pre>
