# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

.env
.env.*
server/.env
server/.env.*
!.env.example
!server/.env.example
node_modules
dist
dist-ssr
*.local
*.sqlite3
server/*.sqlite3
__pycache__/
*.py[cod]

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
